/*BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY */
body{
	font-family: 'Montserrat', sans-serif;
}
/*BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY */
/*NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR */
#welcome-cover {
	background-image:url(../images/cover-photo.jpg);
	background-size:cover;
	background-position: center;
	height: 100%;
	width:100%;
	position: relative;
	background-attachment: fixed;
}
nav{
	font-weight: 700;
	font-size: 15px;
}
.my-navbar{
	background-color: transparent;
	padding: 30px 0;
	transition: 700ms ease;
}
.scroll .my-navbar{
	background-color: #1a1a1a;
	padding: 10px;
	transition: 700ms ease;
}
.navbar-toggle{
	border-style: none;
}
.navbar-inverse .navbar-collapse{
    border-color: #1bbca8;

}
#nav-text-color{
	color: white;
	font-size: 50px;
}
#text-color{
	color: white;
}
/*NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR*/
/*COVER PAGE COVER PAGE COVER PAGE COVER PAGE COVER PAGE COVER PAGE*/
.welcome-text{
	padding: 300px 0px 200px 0px;
	color:white;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
}
#welcome-text-firstline{
	font-size:30px; 
}
#welcome-text-myname{
	font-weight:700; 
	font-size: 50px;
	margin-bottom: 20px;
	margin-top:0;
	text-transform:uppercase;
}
#welcome-text-designation{
	font-size:10px;
	text-transform:uppercase;
	margin-bottom: 30px;
	color: #1bbca8;
}
.name{
	background-color:#1bbca8; 
	color: #232323;
}
.btn-download{
	border: 1px solid #1bbca8;
	padding:14px 20px;
	border-radius: 0;
	color: white;
	font-size: 12px;
	letter-spacing: 1px;
}
.btn-download:hover {
	background-color:#1bbca8;
	color:white;
	transition:700ms ease;
	letter-spacing:0.5pt;
}
.btn-download:focus{
	color:white;
}
/*COVER PAGE COVER PAGE COVER PAGE COVER PAGE COVER PAGE COVER PAGE*/
/*ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT*/
/*ABOUT&SERVICE ABOUT&SERVICE H1 */
#about h1, #services h1{
	font-weight: 700;
}
/*ABOUT&SERVICE ABOUT&SERVICE H1 */
#about{
	box-shadow: 0 0 20px rgb(27,188,168);
	margin:  50px;


}
.about-image{
	margin-right: 50px;
	margin-top:50px;  
}  
.about-me{
	background-color: #004256;
	color: white;
	padding: 6.5px;
	margin: 50px 0px;
}
.about-me hr{
	 margin: 0;
	 padding:0;
}

/*ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT*/
/*SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES*/
#services{
	background-image:url(../images/services-photo.jpg);
	background-size:cover;
	background-position: center;
	height: 100%;
	width:100%;
	position: relative;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}
#services h1{
	color: black;
}
#services .thumbnail{
	height: 300px;
}
.thumbnail{
	margin-top: 50px;
	margin-bottom: 50px;
    transform: scale(1, 1);
    transition: 0.3s ease;
    background-color: #f6f6f6;
    border: 1px solid #b5b5b5;
    border-radius: 0;
}
.thumbnail:hover{
	cursor: pointer;
    transform: scale(1.01, 1.01);
    transition: 0.3s ease;
    box-shadow: 15px rgba(0,0,0,0.1);
    background-color: white;
    color:#1bbca8;
}
#icons{
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 20px; 
}
/*SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES*/
/*FREELANCE FREELANCE FREELANCE FREELANCE FREELANCE FREELANCE FREELANCE FREELANCE*/
#freelance{
	background-image: url(../images/freelance-photo.jpg);
	background-size:cover;
	background-position: center;
	height: 100%;
	width:100%;
	position: relative;
	background-attachment: fixed;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
	text-align: center;
	font-weight: 700;
	font-weight: bold;
}
.img-thumbnail{
	border-radius: 0;
	border: 0.1px solid;
}
#freelance h1{
	padding-bottom: 30px;
}
/*FREELANCE FREELANCE FREELANCE FREELANCE FREELANCE FREELANCE FREELANCE FREELANCE*/
/*PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO*/
#portfolio{
	background-image: url(../images/portfolio-photo.jpg);
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
	width:100%;
	color: white;
}
.img-thumbnail:hover{
	cursor: pointer;
	transform: scale(1.1, 1.1);
	opacity: 0.5;
    transition: 0.3s ease;
    box-shadow: 15px rgba(0,0,0,0.1);
    color: white;
  
}
.img-thumbnail{
	margin:20px;
	position: relative;
}
/*PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO*/
/*TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS*/
#testimonials{
	background-color: #1a1a1a;
	color: white;
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 70px;
}
/*CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL*/
#mycarousel .item{
	background-size:cover;
	background-position: center;
	height: 400px;
}
#mycarousel{
	margin-top:30px; 
}
.carousel-caption{
	font-size: 24px;
	text-align: cover;
	font-weight: normal;
	margin-top:50;
}
.carousel-caption h1{
	font-weight: 700;
}
#slide1{
	background: url(../images/carousel1-photo.jpg);
}
#slide2{
	background: url(../images/carousel2-photo.jpg);
}
#slide3{
	background: url(../images/carousel3-photo.jpg);
}
/*CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL*/
/*TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS*/
 /*PERSONAL-INFO PERSONAL-INFO PERSONAL-INFO PERSONAL-INFO PERSONAL-INFO PERSONAL-INFO */
#personalinfo{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
#personalinfo h5{
	font-weight: 700;
	font-size: 14px;
}
#info-icons{
	font-size: 36px;
	margin-bottom: 20px;
	transform: scale(1, 1);
	color: #1bbca8;
}
#info-icons:hover{
	transition: 500ms ease;
	cursor: pointer;
    transform: scale(1.4, 1.4);
}
#contact{
	padding-top: 30px;
	padding-bottom: 50px;
	font-weight: 700;
	font-size: 34px; 
}
/*PERSONAL-INFO PERSONAL-INFO PERSONAL-INFO PERSONAL-INFO PERSONAL-INFO PERSONAL-INFO */
/*COPYRIGHT COPYRIGHT COPYRIGHT COPYRIGHT COPYRIGHT COPYRIGHT COPYRIGHT COPYRIGHT */
#copyright{
	text-align: center;
	font-weight: 700;
	font-size: 34px;
	background-color: #1a1a1a;
	color: white;
	padding-top: 20px;
	padding-bottom:20px;

}
/*COPYRIGHT COPYRIGHT COPYRIGHT COPYRIGHT COPYRIGHT COPYRIGHT COPYRIGHT COPYRIGHT */
 
